@font-face {
	font-family: 'Magenta';
	src: url('/css/Magenta_BBT-webfont.eot');
	src: local('Î²ÂÎ'), url('/css/Magenta_BBT-webfont.woff') format('woff'), url('/css/Magenta_BBT-webfont.ttf') format('truetype'), url('/css/Magenta_BBT-webfont.svg#webfontC73RpQVM') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LaconicLight';
	src: url('/css/Laconic_Light-webfont.eot');
	src: local('Î²ÂÎ'), url('/css/Laconic_Light-webfont.woff') format('/css/woff'), url('/css/Laconic_Light-webfont.ttf') format('truetype'), url('/css/Laconic_Light-webfont.svg#webfont8dnoupMg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BonvenoCFLight';
	src: url('BonvenoCF-Light-webfont.eot');
	src: local('Î²ÂÎ'), url('/css/BonvenoCF-Light-webfont.woff') format('woff'), url('/css/BonvenoCF-Light-webfont.ttf') format('truetype'), url('/css/BonvenoCF-Light-webfont.svg#webfont6de6LVW5') format('svg');
	font-weight: normal;
	font-style: normal;
}
